article p span {
  background-color: cornflowerblue;
  color: white;
}

h1 + ul + p {
  background-color:peru;
  color: white;
  padding: 10px;
}

body h1 + p .special {
  color: yellow;
  background-color: black;
  padding: 5px;
}
