.box {
  width: 200px;
  height: 100px;
  padding: 0.5em;
  border: 1px solid #ccc;
  margin: 20px;
}

.a {
  background-image: linear-gradient(105deg, rgb(0 249 255 / 100%) 39%, rgba(51 56 57 / 100%) 96%);
}

.b {
  background-image: radial-gradient(circle, rgba(0 249 255 / 100%) 39%, rgba(51 56 57 / 100%) 96%);
  background-size: 100px 50px;
}