body {
  background-color: #fff;
  color: #333;
  font: 1.3em / 1.5 Helvetica, Arial, sans-serif;
}

.wrapper {
  background-image: url("https://mdn.github.io/css-examples/learn/values-units/balloons.jpg");
  background-repeat: no-repeat;
  background-position: bottom left;
  max-width: 640px;
  border: 1px solid #4D4E53;
  border-radius: 2px;
  padding: 10px 14px 10px 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.box {
  margin: 40px auto;
  width: 200px;
  background-color: lightblue;
  border: 5px solid darkblue;
  padding: 10px;
  opacity: 0.6;
}