.box {
  padding-top: 0;
  padding-right: 30px;
  padding-bottom: 40px;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  padding-left: 4em;
}

.container {
  padding: 20px;
}
